extends layout

block content
  link(rel='stylesheet' href='/stylesheets/about.css')
  div.card-warp
    div.card
      div.card-photo
        img.card-img(src='/images/about/brian_may.jpg')
      div.card-title Brian May
      div.card-description
      div.card-links
        a(href="https://github.com/brianmay2014" target="_blank")
          img.card-link-logo(src='/images/about/git-logo.png')
        a(href="https://www.linkedin.com/in/brian-may-6aa49172" target="_blank")
          img.card-link-logo(src='/images/about/linkedin-logo.png')
    div.card
      div.card-photo
        img.card-img(src='/images/about/elan_katz.jpg')
      div.card-title Elan Katz
      div.card-description Coding is just adult Legos.
      div.card-links
        a(href="https://github.com/otter23" target="_blank")
          img.card-link-logo(src='/images/about/git-logo.png')
        a(href="https://www.linkedin.com/in/elankatz" target="_blank")
          img.card-link-logo(src='/images/about/linkedin-logo.png')
    div.card
      div.card-photo
        img.card-img(src='/images/about/frances_huang.png')
      div.card-title Frances Lau
      div.card-description Love crafting things from scratch.
      div.card-links
        a(href="https://github.com/frances-y-h" target="_blank")
          img.card-link-logo(src='/images/about/git-logo.png')
        a(href="https://www.linkedin.com/in/frances-huang-660607156" target="_blank")
          img.card-link-logo(src='/images/about/linkedin-logo.png')
    div.card
      div.card-photo
        img.card-img(src='/images/about/lana_komar.jpg' style="position: relative; top: -25%")
      div.card-title Lana (Sviatlana) Komar
      div.card-description Coding is an output for creativity.
      div.card-links
        a(href="https://github.com/lanakomar" target="_blank")
          img.card-link-logo(src='/images/about/git-logo.png')
        a(href="https://www.linkedin.com/in/lana-komar/" target="_blank")
          img.card-link-logo(src='/images/about/linkedin-logo.png')
