extends layout

block content
  link(rel='stylesheet' href='/stylesheets/about.css')
  div.card-warp
    div.card
      div.card-photo
      div.card-title Brian May
      div.card-description
      div.card-links
        a(href="#" target="_blank")
          img.card-link-logo(src='/images/about/git-logo.png')
        a(href="#" target="_blank")
          img.card-link-logo(src='/images/about/linkedin-logo.png')
    div.card
      div.card-photo
      div.card-title Elan Katz
      div.card-description
      div.card-links
        a(href="#" target="_blank")
          img.card-link-logo(src='/images/about/git-logo.png')
        a(href="#" target="_blank")
          img.card-link-logo(src='/images/about/linkedin-logo.png')
    div.card
      div.card-photo
        img.card-img(src='/images/about/frances_huang.png')
      div.card-title Frances Lau
      div.card-description Love crafting things from scratch.
      div.card-links
        a(href="https://github.com/frances-y-h" target="_blank")
          img.card-link-logo(src='/images/about/git-logo.png')
        a(href="#" target="_blank")
          img.card-link-logo(src='/images/about/linkedin-logo.png')
    div.card
      div.card-photo
      div.card-title Sviatlana Komar
      div.card-description
      div.card-links
        a(href="#" target="_blank")
          img.card-link-logo(src='/images/about/git-logo.png')
        a(href="#" target="_blank")
          img.card-link-logo(src='/images/about/linkedin-logo.png')
