extends layout

block content
    #collection-grid
        #whitespace
        #collection-list 
            p This is the list of collections for the user
        #hikes-display
            p This is the display of the hikes in said collection
        #whitespace
