extends layout

block content
    link(rel='stylesheet' href='/stylesheets/collection.css')
    //- title: 
    #collection-grid
        #left-whitespace
        #collection-list 
            p This is the list of collections for the user
        #hikes-display
            p This is the display of the hikes in said collection
        #right-whitespace
    
