doctype html
html
  head
      block head
        title="Good Hikes"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/user-form.css')
        link(rel='stylesheet' href='/stylesheets/layout.css')
        link(rel="icon" href="https://raw.githubusercontent.com/twitter/twemoji/cf0abdf32502c789bdb138b6cec0ff9eff8451d7/assets/svg/1f3de.svg")
        script(src='https://use.fontawesome.com/36b0eae01e.js')
        script(src='/javascripts/layout.js')
        script(src="/javascripts/logout.js")

  body
    nav(id='nav-top')
      div(id="div-left-links")
        a(href='/')
          img#header-image(src='/images/logo2.png')
      div(id="my-hikes-link")
        a(id='hike-collection-link' href='/collections') My Hikes
      div(id="div-center-search")
        form(action='/search' method='post' id='search-form')
          input(type="text" id="search-input" name="search-query" placeholder="Search Hikes")
          button#search-button.btn(type='submit')
            i(class='fa fa-search')
      div(id="div-right-buttons")
        if locals.authenticated
          div(id="welcome-text")
            p Welcome #{locals.user.username}!
            form(action='/users/logout' method='post')
              button.btn.btn-nav(id="user-logout" type='submit') Logout
        else
          span
            button.btn.btn-nav(type="submit" id="user-demo" href='/') Demo Login
            a.btn.btn-nav(id="user-login" href='/users/login') Login
            a.btn.btn-nav(id="user-signup" href='/users/signup') Sign Up
    block content
    footer
      div.footer-techs
        div.footer-tech javascript
        div.footer-tech Node.Js
        div.footer-tech SQL
        div.footer-tech PostgreSQL
        div.footer-tech HTML 5
        div.footer-tech CSS
        div.footer-tech Git
        div.footer-tech Express JS
        div.footer-tech PUG
      div.footer-copyright Copyright ©
        a(href="/about") Brian May | Elan Katz | Frances Huang | Lana Komar
