extends layout.pug
include utils.pug
block content
  +validationErrorSummary(errors)
  form.form-control(action='/users/login' method='post')
    h2.login Login
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Email Address', 'email', email, true)
    +field('Password', 'password', null, true, 'password')
    div.div-submit
      button(type='submit' class='btn') Login
      a(href='/' class='btn btn-cancel') Cancel
  div
    p Don't have an account?
    a(href='/user/signup') Sign Up
