extends layout.pug
include utils.pug
block content
  link(rel='stylesheet' href='/stylesheets/user-form.css')
  div.main-container
    form.form-control(action='/users/login' method='post')
      h2.login Login
      +validationErrorSummary(errors)
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('Email Address', 'email', email, true)
      +field('Password', 'password', null, true, 'password')
      div.div-submit
        button(type='submit' class='btn') Login
        a(href='/' class='btn btn-cancel') Cancel
      div.description
        span Don't have an account?
        a(href='/users/signup') Sign Up
