extends layout

//- script(src="/javascripts/search.js")
block content

  h1 Advanced Search
    div.search-container
      div.searchForm
    //- div.hike-list
    //-     each hike in hikes
    //-         div.hike-card
    //-             div.hike-name #{hike.name}
