#collection-grid{
    display: grid;
    grid-template-columns: 2fr 3fr 9fr 3fr;
    grid-template-areas:
        "a b c d";
        margin-top: 38px;
}

#left-whitespace{
grid-area: a;
}
#collection-list{
grid-area: b;
margin-top: 150px;
} 
#hikes-display{
grid-area: c;
margin-top: 38px;
}
#right-whitespace{
    grid-area: d;
}

#collection-list > h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
}

.coll-link:hover{
    color: var(--mid1);
}

#collection-list li,a {
    text-decoration: none;
    color: var(--dark1);
    list-style-type: none;
    font-size: 12px;
}


.table-img {
    width: 35px;
    height: 40px;
    border-radius: 5px;
    margin: 3px;
}

.hike-row {
    border-bottom: 1px solid var(--light5);
}

.hike-text{
    font-size: 13px;
    inline-size: min-content;
}
.center{
    text-align: center;
}

table{
    border-collapse: collapse;
    border-spacing: 2px;
    width:100%;
}
th {
    font-size: 12px;
}
thead > tr.hike-row{
    border-bottom: 2px solid var(--mid1);
}

h2{
 font-size: 34px;
 margin-bottom: 38px;
 color: var(--dark1);
}

#collection-add{
    font-size: 12px;
    margin-top: 15px;
    padding: 5px;

}




#edit-content-div {
    width: 60%;
    margin: 0px auto;
    margin-top: 38px;
}
#delete-col{
    width: 15%;
}
#name-col{
    width: 65%;
}
#rename-col{
    width: 20%;
}

#form-add-collection{
    background-color: var(--light5);
    height: 46px;
    margin: 30px;
    border-radius: 8px;
    box-shadow: 2px 2px 3px var(--light6);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#new-collection-input{
    margin-left: 15px;
    width: 70%;
    height: 24px;
}
#add-collection-button, .btn-rename{
    padding: 3px;
    font-size: smaller;
}

.btn-delete{
    border: none;
    border-radius: 50px;
    color: var(--delete1);
    background-color: transparent;
    padding: 5px 8px;
    margin: 3px;
    transition: all 0.5s;
}

.btn-delete:hover{
    background-color: var(--delete1);
    color: white;
}

.div-errors {
  border: 1px solid var(--error2);
  border-radius: 10px;
  background-color: var(--error1);
  margin: 0 auto;
  margin-bottom: 38px;
  width: 60%;
}
.div-errors p {
    font-size: smaller;
    margin-left: 30px;
}
/* .div-errors ul {
  padding: 0px 20px;
} */

.div-errors li {
    margin-left: 30px;
    margin-bottom: 7px;
    font-size: smaller;
    color: var(--error3);
}

.left{
    text-align: left;
}