.hike-page {
    margin: 0 auto;
    max-width: 1000px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    background-color: white;
    height: 100%;
}

.hike-title {
    background-size: cover;
    background-position: center;
    height: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    color: white;
}

.hike-name {
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.hike-level-review {
    display: flex;
    gap: 10px;
}

.hike-level {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--mid1);
    font-size: 10px;
}

.hike-review,
.stars-and-rating {
    display: flex;
    gap: 5px;
    align-items: center;
}

.hike-avg-review,
.hike-stars,
.hike-location {
    font-size: smaller;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.hike-stars,
.stars {
    background: url("/images/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 20px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 100px;
    margin: 0 auto;
}

.star-sprite {
    background: url("/images/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 20px;
    display: block;
}

.hike-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}

.hike-details {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    border-right: 1px solid lightgray;
}

.hike-key {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--light1);
    border-bottom: 2px solid var(--light1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.hike-key-title {
    padding-bottom: 5px;
    font-size: 10px;
    font-weight: light;
    color: gray;
}

.hike-key-detail {
    font-weight: bold;
}

.hike-side {
    grid-column: 4/5;
    padding-left: 20px;
    background-color: white;
    z-index: 0;
}

.hike-tags-wrap {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.hike-tags-title {
    padding-bottom: 5px;
}

.hike-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.hike-tag {
    background-color: var(--mid1);
    border-radius: 10px;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
}

.hike-tag:nth-child(2n) {
    background-color: var(--mid2);
}

.hike-tag:nth-child(3n) {
    background-color: var(--mid3);
}

.hike-tag:nth-child(4n) {
    background-color: var(--mid4);
}

.rating-table-add-review {
    display: flex;
    justify-content: space-around;
}

.rating-bar-table {
    border-spacing: 10px 5px;
}

.rating-bar-table td:nth-child(3) {
    width: 135px;
}

.one-star-sprite {
    background: url("/images/star-rating-sprite.png") no-repeat;
    width: 20px;
}

.bar {
    width: 100%;
    background-color: var(--bar);
    height: 8px;
    border-radius: 4px;
}

.add-review-btn {
    align-self: center;
}

.rating-username {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.review-rating {
    padding-top: 4px;
}

.stars {
    margin: 0;
}

.username {
    font-weight: bold;
    margin-right: 40px;
    margin-bottom: 15px;
    color: var(--dark5);
}

.dateHike {
    font-size: smaller;
    color: var(--dark5);
}

.hike-add-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
}

.hike-add-collection-title {
    width: 100%;
    text-align: left;
    padding-bottom: 20px;
}

.hike-coll-want,
.hike-coll-arrow {
    background-color: var(--bar);
    font-size: 14px;
    color: var(--dark4);
    border: 1px solid #ecd944;
    padding: 5px 10px;
    transition: all 0.5s;
}
.hike-coll-want {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 130px;
}

.hike-coll-arrow {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.hike-coll-want:hover,
.hike-coll-arrow:hover {
    background-color: var(--bar);
    filter: brightness(90%);
}

.checkMk {
    color: var(--mid1);
    font-size: 12px;
    padding-left: 5px;
}

.dropdown-menu {
    position: absolute;
    transition: all 0.2s;
    z-index: 3;
    width: 172px;
}
.dropdown-item,
.dropdown-bottom,
.dropdown-divider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px 5px;
    background-color: var(--light3);
    border-bottom: 1px dashed var(--bar);
    transition: all 0.5s ease;
}

.dropdown-item:hover,
.dropdown-divider:hover {
    background-color: var(--light3);
    filter: brightness(110%);
}

input[type="checkbox"] {
    appearance: none;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--mid1);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}
.coll-label {
    font-size: 14px;
    padding-left: 10px;
}

.dropdown-divider,
.no-dropdown-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.add-collection-title {
    font-size: 10px;
}

.add-collection-frm {
    display: flex;
}

.add-collection-input {
    width: 125px;
    border-radius: 10px;
    border: 1px solid var(--mid1);
    background-color: var(--light6);
    padding: 3px 5px;
}

.btn-sm {
    margin: 0px 5px;
    padding: 3px 3px;
    font-size: 12px;
    font-weight: regular;
}

.dropdown-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bar);
    padding: 10px 10px;
    cursor: pointer;
    font-size: 14px;
}
.dropdown-bottom:hover {
    filter: brightness(110%);
}

.dropdown-divider {
    border-top: 1px solid var(--bar);
    border-bottom: 1px solid var(--bar);
    height: 50px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.bg-modal3 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
}

.update-status {
    padding: 20px 0px;
    font-size: 12px;
    text-align: center;
    height: 20px;
}

@media screen and (max-width: 850px) {
    .hike-side {
        top: 140px;
    }
    .hike-add-collection-title {
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 768px) {
    .hike-title {
        height: 250px;
    }

    .hike-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .hike-details {
        padding-right: 0px;
        border-right: none;
    }

    .hike-side {
        padding: 0;
        width: 100%;
    }

    .hike-tags-wrap {
        display: flex;
        justify-content: center;
    }

    .hike-tags-title {
        padding-right: 20px;
    }

    .hike-add-collection {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .hike-add-collection-title {
        width: fit-content;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .hike-collection-wrap {
        width: fit-content;
        flex-wrap: nowrap;
    }
    .update-status {
        padding: 0;
    }
}
