@import url("./theme.css");

body {
    background-color: var(--bg1);
}

#nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: var(--light5);
    padding: 0 50px;
    gap: 20px;
    position: sticky;
    top: 0;
}

#div-center-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    flex-grow: 1;
}

#search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--mid1);
    border-radius: 86px;
    box-shadow: 0.5px 0.5px 2px var(--mid1);
    background-color: var(--light6);
    width: 100%;
}

#search-input {
    border: none;
    padding: 3px;
    margin-left: 10px;
    width: 95%;
    background-color: transparent;
}

#search-button {
    margin: 5px;
    padding: 5px 8px;
    border: 1px solid rgba(0, 0, 0, 0);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: border 0.5s, background-color 0.5s, color 0.5s;
}

#search-button:hover {
    border: 1px solid var(--mid1);
    background-color: white;
    color: var(--dark5);
}
#header-image {
    width: 200px;
}

input:focus {
    outline: none;
}

#my-hikes-link > a {
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 100;
    font-size: 1em;
    color: var(--dark1);
    transition: all 0.5s;
    display: flex;
    justify-content: center;
}

#my-hikes-link > a:hover {
    padding: 10px 15px;
    border: 1px solid var(--mid1);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: var(--mid1);
    border-radius: 50px;
    cursor: pointer;
    transition: border 0.5s, background-color 0.5s, color 0.5s;
}

#div-left-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

#welcome-text {
    display: flex;
    align-items: center;
}
#welcome-text > p {
    margin-right: 8px;
}

#div-right-buttons span {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/*
spacing for nav bar buttons
bringing them in a little bit closer
layout.css imported after user-form in layout.pug
*/
.btn.btn-nav {
    margin: 0px 7px;
    padding: 8px 8px;
}

footer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding-top: 50px;
}

.footer-techs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px 20px;
}

.footer-tech {
    font-size: 12px;
    color: var(--mid4);
}

.footer-copyright {
    padding: 20px 0px;
}

.footer-copyright,
.footer-copyright > a {
    font-size: 12px;
    color: var(--dark1);
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.footer-copyright > a {
    padding-left: 10px;
    transition: all 0.5s;
}

.footer-copyright > a:hover {
    color: var(--mid2);
}

@media screen and (max-width: 950px) {
    #nav-top {
        padding: 0 10px;
    }
}

@media screen and (max-width: 850px) {
    #nav-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "logo login"
            "search search";
        height: 100%;
        padding: 10px;
        gap: 5px;
    }

    #div-left-links {
        grid-area: logo;
    }

    #div-center-search {
        grid-area: login;
    }

    #div-center-search {
        grid-area: search;
        order: 2;
        max-width: 100%;
    }
    #div-right-buttons .btn {
        margin: 0px 3px;
    }
}
