.bg-modal,
.bg-modal2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#review-form,
#edit-review-form {
    z-index: 3;
    width: 520px;
    height: fit-content;
    opacity: 1;
    background-color: white;
}

#review-form.hidden,
#edit-review-form.hidden,
.bg-modal.hidden,
.bg-modal2.hidden {
    display: none;
}

#review-form label,
#edit-review-form label {
    margin-bottom: 7px;
}

.form-star-rating {
    user-select: none;
}

.star {
    font-size: 2rem;
    color: var(--bar);
    background-color: unset;
    border: none;
}

.star:hover {
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
}

.review-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#dateHike {
    width: 40%;
    box-sizing: border-box;
    outline: 0;
    padding: 0.25rem;
    position: relative;
    background: url(/images/calendar.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 95%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
