main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg1);
    /* width: 80vw; */
}

.hidden {
    display: none;
}

#div-center-search {
    visibility: hidden;
}

#search-header {
    text-align: center;
    margin: 25px;
}

#adv-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#adv-search-bar {
    /* display: flex; */
}

#adv-search-form {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
#adv-search-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--mid1);
    border-radius: 86px;
    box-shadow: 0.5px 0.5px 2px var(--mid1);
    background-color: var(--light6);
    width: 800px;
    padding: 10px 15px;
}

/* #adv-search-input {
    width: auto;
    box-sizing: border-box;
} */

#adv-search-button {
}

#search-toggles {
    display: flex;
    flex-direction: row;
    /* grid-template-areas: "a b c d e f g h"; */
    /* flex-wrap: wrap; */

    justify-content: space-between;
    margin: 20px;
}

.search-button-container {
    position: relative;
}

.search-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.toggle-popup {
    position: absolute;
    top: 48px;
    left: 20px;
    border: 0.5px solid rgba(211, 211, 211, 0.2);
    /* transform: translate(412px, 105px); */
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 5px 5px 15px 0px rgba(211, 211, 211, 0.2);
}

.inner-popup {
    background-color: white;
    width: 300px;
    max-height: 200px;
    box-sizing: border-box;
}

.options-container {
    max-height: 200px;
    overflow-y: auto;
}

.radio-container,
.check-container {
    display: flex;
    box-sizing: border-box;
    margin: 10px 10px;
    gap: 4px;
    width: auto;
}

.range-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px 10px;
    gap: 4px;
    width: auto;
}

.range-labels {
    display: flex;
    justify-content: space-between;
}

.range {
    width: 100%;
}

.input-range-container {
    /* width: 100%; */
    padding: 10px;
    /* box-sizing: border-box; */
}

/* update slider */
#elevation-range {
    /* background: url("); */
}

#elevation-range:hover,
#length-range:hover,
#rating-range:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

#rating-range-labels {
    padding-left: 10px;
    padding-right: 10px;
}

#rating-label {
    text-align: center;
    padding-right: 10px;
}

#input-range-container-rating {
    padding-right: 20px;
}

.menu-bottom {
    display: flex;
    box-sizing: border-box;
    border-top: 1px solid lightgray;
    padding: 12px 16px;
    justify-content: end;
    align-items: space-between;
    height: 60px;
    width: auto;
    background-color: white;
}

.menu-btn {
    font-size: 12px;
    /* position: absolute; */
    /* bottom: 10px;
    right: 0px; */
}

/* HIKES CARDS */
.hike-header {
    text-align: center;
    margin: 20px;
}

.hike-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 30px 0;
    width: 70vw;
}

/* HIKE CARDS */
a.hike-card {
    width: 400px;
    border-radius: 10px;
    box-shadow: 3px 6px 5px 2px rgba(0, 0, 0, 0.2);
    /* background-color: var(--bg1); */
    /* margin-bottom: 20px; */
    text-decoration: none;
}

.hike-img {
    height: 200px;
    width: auto;
}

/* HIKE TEXT CONTAINERS */
.hike-name-location {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 5px;
    margin: 8px 10px;
    box-sizing: border-box;
}

div.hike-name {
    font-size: 18px;
    font-weight: bold;
}
div.hike-location {
    font-size: 15px;
    color: gray;
}

.hike-level-review,
.hike-length-time {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 5px 20px;
    box-sizing: border-box;
}

.hike-level {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--mid1);
    font-size: 10px;
    color: white;
}

.hike-avg-review,
.hike-stars {
    font-size: smaller;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.hike-avg-review {
    display: flex;
    align-items: center;
}

.hike-stars {
    background: url("/images/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 20px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 100px;
    /* margin: 0 auto; */
    box-sizing: border-box;
}

.star-sprite {
    background: url("/images/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 20px;
    display: block;
}

.hike-length-time {
    color: gray;
}
